<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Philo</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
<div>
    <div class="container">
        <div class="logo"><span class="g-blue">P</span><span class="o-red">h</span><span class="o-yellow">i</span><span class="g-blue">l</span><span class="l-green">o</span></div>
        <form action="/" method="POST" autocomplete="off">
            <label for="tag1">Tag 1:</label>
            <input type="text" id="tag1" name="tag1" required>
            
            <label for="tag2">Tag 2:</label>
            <input type="text" id="tag2" name="tag2" required>
            
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
</body>

</html>
